
@import "tailwindcss";
.Navbar{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #181A1C; 
  padding: 10px ;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: 75%;
  padding: 0;
}

.name{
  color: white;
  font-family: Times New Roman, Times, serif;
  font-size: 20px;
  
}

.navlinks li a {
  color: #AAAAAA;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
  font-family: Times New Roman, Times, serif;
}

.navlinks li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

@media (prefers-reduced-motion: no-preference) {
 
 :root {
  background-color: #181A1C;
 }

  }

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
